.content-wrapper {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home-image {
  background: url('../assets/background.png') no-repeat center fixed;
  background-size: cover;
}

.about-image {
  background: url('../assets/about-background.png') no-repeat center fixed;
  background-size: cover;
}

.home-text, .home-nav a {
  color: wheat;
}

.about-nav a {
  color: darkgoldenrod;
}

.about-web, .about-web:hover {
  color: darkgoldenrod;
  margin: 0 auto;
}

.weblink-wrapper {
  text-align: center;
}

.home-nav.nav>li>a:focus, .home-nav.nav>li>a:hover  {
  background-color: transparent;
  text-decoration: underline;
}

.about-nav.nav>li>a:focus, .about-nav.nav>li>a:hover  {
  background-color: transparent;
  text-decoration: underline;
}
