<div data-ng-controller="balanceController">

  <h1>Expenses</h1>
  <form style="margin-bottom: 20px" novalidate>
    <div class="form-group row">
      <div class="col-sm-3">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" placeholder="First Name" ng-model="expenseModel.firstName">
      </div>
      <div class="col-sm-3">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" placeholder="Last Name" ng-model="expenseModel.lastName">
      </div>
      <div class="col-sm-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Email" ng-model="expenseModel.email">
      </div>
      <div class="col-sm-3">
      </div>
      </br>
    </div>
    <div class="form-group row">
      <div class="col-sm-3">
        <label for="expenseDate">Date</label>
        <input type="text" class="form-control" id="expenseDate" placeholder="MM/DD/YYYY" ng-model="expenseModel.date">
      </div>
      <div class="col-sm-3">
        <label for="expenseDescription">Description</label>
        <input type="text" class="form-control" id="expenseDescription" placeholder="Description" ng-model="expenseModel.description">
      </div>
      <div class="col-sm-3">
        <label for="expenseAmount">Amount</label>
        <input type="number" class="form-control" id="expenseAmount" placeholder="Amount" ng-model="expenseModel.amount">
      </div>
      <div class="col-sm-3" style="line-height: 80px">
        <select name="select" ng-model="expenseModel.category">
          <option value="" disabled selected>Category</option>
          <option value="gas">Gas</option>
          <option value="grocery">Grocery</option>
          <option value="emi">EMI</option>
          <option value="rent">Rent</option>
          <option value="restaurant">Restaurant</option>
        </select>
      </div>
    </div>
    <input type="submit" class="btn btn-primary btn-lg" ng-click="addExpense(expenseModel)" value="Save" />
  </form>

  <div class="well">
    <h5>Sort By: </h5> <select name="select" style="margin: 10px 0" ng-model="sortBy"></br></br>
      <option value="" disabled selected>Sort By</option>
      <option value="firstName">First Name</option>
      <option value="lastName">Last Name</option>
      <option value="category">Category</option>
      <option value="amount">Amount</option>
    </select>
    <table class="table table-bordered">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Category</th>
      </tr>
      <tr ng-repeat="expense in expenses | orderBy : sortBy">
        <td>{{expense.firstName}}</td>
        <td>{{expense.lastName}}</td>
        <td>{{expense.email}}</td>
        <td>{{expense.date}}</td>
        <td>{{expense.description}}</td>
        <td>{{expense.amount | currency}}</td>
        <td>{{expense.category}}</td>
        <td>
          <button type="button" class="btn btn-default btn-danger" ng-click="deleteExpense($index)">Delete</button>
          <button type="button" class="btn btn-default btn-warning" ng-click="editExpense($index)">Edit</button>
        </td>
      </tr>
    </table>
  <div>
</div>
