<div class="modal-header">
    <h3 class="modal-title">Edit expense</h3>
</div>
<div class="modal-body">
    <div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" placeholder="First Name" ng-model="expense.firstName">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" placeholder="Last Name" ng-model="expense.lastName">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Email" ng-model="expense.email">
        </br>
      </div>
      <div class="form-group" style="margin: 10px 0">
        <label for="expenseDate">Date</label>
        <input type="text" class="form-control" id="expenseDate" placeholder="date" ng-model="expense.date">
        <label for="expenseDescription">Description</label>
        <input type="text" class="form-control" id="expenseDescription" placeholder="Description" ng-model="expense.description">
        <label for="expenseAmount">Amount</label>
        <input type="number" class="form-control" id="expenseAmount" placeholder="Amount" ng-model="expense.amount">
        <select name="select" ng-model="expense.category">
          <option value="" disabled selected>Category</option>
          <option value="gas">Gas</option>
          <option value="grocery">Grocery</option>
          <option value="emi">EMI</option>
          <option value="rent">Rent</option>
          <option value="restaurant">Restaurant</option>
        </select>
      </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
